*.log
*history*

PowerShell/Help/
PowerShell/Scripts/

# Specific files to ignore
.config/lazygit/state.yml
.config/scoop/config.json
.config/github-copilot/apps.json
.config/gh/hosts.yml
# Raycast extensions
.config/raycast-x/

# Secret environment files like API keys
secrets/

