# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

continuation_prompt = "[:::](dimmed white)"

format = """$shell$directory\
$git_branch$git_commit$git_state$git_status$git_metrics\
(\
$nix_shell \
$container \
$fill \
$package\
$c\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$vlang\
$vagrant\
$zig\
$buf\
$conda\
$meson\
$spack\
$time\n)\
$hostname\
$localip\
$shlvl\
$env_var\
$jobs\
$sudo\
$username\
$character"""

right_format = """$singularity\
$docker_context\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$crystal\
$custom\
$status\
$os\
$battery\
$cmd_duration\
\n
"""

[fill]
symbol = '─'

[shell]
zsh_indicator = '[% zsh](bg:green fg:black)'
bash_indicator = '[ bash](bg:green fg:black)'
fish_indicator = '[󰈺 fsh](bg:green fg:black)'
nu_indicator = '[󰟆 nu](bg:green fg:black)'
cmd_indicator = '[ cmd](bg:green fg:black)'
pwsh_indicator = '[󰨊 pwsh](bg:green fg:black)'
style = 'fg:green'
format = '[$indicator]($style) '
disabled = false

[username]
format = '[$user]($style) '
style_user = 'bold green'
style_root = 'bold red'
disabled = false

[character] # The name of the module we are configuring is 'character'
format = '[$symbol]($style) '
success_symbol = "[](bold green)"
error_symbol = "[](bold red)"
vimcmd_symbol = "[](bold green)" # only supported in cmd, fish and zsh

[directory]
truncation_length = 3
truncation_symbol = "…/"
truncate_to_repo = false
format = '[󰉋 $path]($style)[$read_only]($read_only_style)'
style = "bold blue"
use_os_path_sep = true
read_only = " 󰌾"
read_only_style = 'bold red'
repo_root_format = '[ ]($repo_root_style)[$before_root_path]($before_repo_root_style)[$repo_root]($repo_root_style)[$path]($style)[$read_only]($read_only_style)'
repo_root_style = 'bold yellow'

[git_branch]
format = " on [$symbol $branch(:$remote_branch)]($style)"
symbol = "[](bold yellow)"
style = "yellow"
truncation_symbol = "…"
truncation_length = 12
only_attached = false
disabled = false

[git_commit]
commit_hash_length = 6
format = '\([#$hash$tag_symbol$tag]($style)\)(yellow) '
style = 'bold cyan'
only_detached = true
tag_disabled = false
tag_symbol = '  '
disabled = false

[git_state]
rebase = '[REBASING](bold green)'
merge = '[MERGING](bold yellow)'
revert = '[REVERTING](bold red)'
cherry_pick = '[CHERRY-PICKING](bold purple)'
format = '\[[$state( $progress_current/$progress_total)]($style)\]'
style = 'cyan'
disabled = false

[git_metrics]
format = '([ 󰅃$added]($added_style))([ 󰅀$deleted]($deleted_style))'
added_style = 'italic dimmed green'
deleted_style = 'italic dimmed red'
ignore_submodules = true
disabled = false

[git_status]
style = "bold blue"
format = "[$ahead_behind$staged$modified$renamed$deleted$untracked$conflicted]($style)"
conflicted = "[  $count](bold red)"
ahead = "[  $count](green)"
behind = "[  $count](red)"
diverged = "[ [ ${behind_count}](red) [ ${ahead_count}](green)](bright-magenta)"
untracked = "[  $count](dimmed white)"
modified = "[  $count](bold cyan)"
staged = "[  $count](bold green)"
renamed = "[  $count](bold cyan)"
deleted = "[  $count](bold red)"
disabled = false

[time]
disabled = false
format = "[](fg:white)[ $time]($style)[](fg:white)"
time_format = "%R"
utc_time_offset = "local"
style = "bold bg:white fg:black"

[container]
symbol = ''
format = '[$symbol <$name>]($style) '

# Disable the package module, hiding it from the prompt completely
[package]
symbol = "󰏗 "
disabled = false

[aws]
symbol = "  "

[buf]
symbol = " "

[c]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

[gradle]
symbol = " "
